body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.container {
    background-color: #eef1f4;
    box-shadow: 0px -20px 50px 20px #ffffff, 0 20px 50px -20px #ffffff;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 20px 50px -20px #ffffff;
}

#logo {
    margin-left: 26px;
    display: flex;
    outline: 0;
}

header object {
    width: 100px;
    height: 100px;
    pointer-events: none;
}

nav {
    margin-right: 32px;
}

li {
    list-style: none;
    display: inline-block;
}

li:nth-child(n+2) {
    margin-left: 40px;
}

a {
    color: #5F6368;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
}

li a::after {
    background: transparent;
    border-radius: 25px;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: relative;
    transition: width .4s ease, background-color .4s ease, left .4s ease;
    width: 0;
}

li a:hover::after {
    background: #5F6368;
    left: 0;
    width: 100%;
}

section {
    padding: 100px 100px 0;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #ffffff;
}

p {
    color: #888e95;
    transition: color 1s ease;
}

#landing {
    padding: 80px 0 0 0;
    margin-top: 100px;
    background-color: transparent;
    background-size: cover;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 1s ease;
}

#hero {
    background-color: white;
    padding-bottom: 100px;
}

#hero h2 {
    font-size: 4em;
    font-weight: bold;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    width: max-content;
}

.deviceAnimation {
    position: fixed;
    z-index: 2;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    opacity: 0;
    transform: scale(0.5);
}

.cylinders {
    top: 605px;
    right: 436px;
    width: 40px;
    height: 40px;
}

.bars {
    top: 630px;
    right: 409px;
    width: 20px;
    height: 20px;
}

.stacks {
    top: 598px;
    right: 596px;
    width: 50px;
    height: 50px;
}

.pie {
    top: 555px;
    right: 493px;
    width: 70px;
    height: 70px;
}

.lineBottom {
    width: 300px;
    height: 47px;
    border-bottom: 1px solid #888e95;
    position: absolute;
    right: 150px;
    margin-top: 478px;
    z-index: 0;
}

.lineLeft {
    width: 212px;
    height: 58px;
    border-bottom: 1px solid #888e95;
    position: absolute;
    right: 289px;
    margin-top: 400px;
    z-index: 0;
    transform: rotate(-45deg);
}

.lineRight {
    width: 212px;
    height: 47px;
    border-bottom: 1px solid #888e95;
    position: absolute;
    right: 103px;
    margin-top: 410px;
    z-index: 0;
    transform: rotate(45deg);
}

.technologyStack {
    padding: 100px 40px 100px;
    align-items: center;
    box-shadow: inset 0 10px 15px -5px rgb(0, 0, 0);
}

.technologyStack h2 {
    font-size: 44px;
    font-weight: 300;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}

.technologies {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px;
}

.technology {
    display: flex;
    justify-content: center;
    padding: 60px 10px;
    align-items: center;
}

.technology img {
    width: 100%;
    height: auto;
}

.closing {
    padding-bottom: 100px;
    align-items: center;
    background-color: white;
    box-shadow: inset 0 0 10px #000000;
}

.closing object {
    width: 150px;
    height: 150px;
}

.closing h2 {
    color: #888e95;
    font-size: 44px;
    font-weight: 300;
    margin: 30px 0 50px 0;
}

.closing button {
    margin-top: 4px;
}

.functionalities {
    width: 100%;
    padding: 0;
}

.arcTool,
.arcDevices,
.arcService {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 1;
    background-color: inherit;
    box-shadow: 0px 10px 10px 10px inherit;
    transition: opacity .5s ease-in-out, transform .3s ease-in-out;
}

.arcService {
    width: 100px;
    height: 102px;
    margin: 455px 0 0 200px;
    border: 20px solid inherit;
    transition: transform .3s ease-in-out, opacity .2s ease-in-out;
}

.arcTool {
    width: 102px;
    height: 102px;
    position: absolute;
    margin: 290px 0 0 0;
    right: 248px;
    border: 20px solid inherit;
}

.functionality {
    flex-direction: row;
}

.functionality:nth-child(2n) {
    background-color: rgba(209, 218, 225, .1056);
}

.functionality h3 {
    font-size: 44px;
    font-weight: 300;
    margin-top: 0;
}

.functionality p {
    font-weight: 300;
}

.how {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 32px;
    box-shadow: inset 0 0 10px #000000;
    background-color: #eef1f4;
}

.article {
    display: flex;
    position: relative;
}

.text {
    width: 40%;
    margin: 20px 0;
    padding: 200px 0 70px 70px;
}

.card {
    padding: 60px 40px;
}

.card img {
    fill: white;
}

.advantage,
.card,
.technology {
    position: relative;
    background-color: white;
    box-shadow: 2px 6px 16px 0 rgba(0, 0, 0, .5);
    flex: 1 1 100%;
    margin: 0 13px;
    border-radius: 2px;
    flex-direction: column;
}

#owner {
    width: 30px;
    height: 30px;
    align-self: center;
}

.advantage p,
.card p {
    color: #888e95;
    font-size: 16px;
    font-weight: 300;
}

.card img {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.how h2,
.how h3 {
    align-self: center;
    width: max-content;
    font-weight: 300;
}

p,
ul,
h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6.261vw;
    color: white;
    font-family: 'Orbitron';
    transition: color 1s ease, text-shadow 1s ease-in-out;
}

h2 {
    margin: 20px 0;
}

h1,
#landing p {
    text-align: center;
    font-weight: 300;
    transition: font-size .3s ease-in-out;
}

#landing p {
    width: max-content;
    margin-top: 6.957vw;
    font-size: 3.130vw;
    color: white;
    height: max-content;
    transition: color 1s ease, text-shadow 1s ease;
}

.buttons {
    display: flex;
}

#landing .start {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.start {
    font-family: inherit;
    font-size: 0.8em;
    outline: 0;
    margin-top: 80px;
    height: 60px;
    padding: 0 40px;
    border: none;
    border-radius: 2px;
    color: white;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    box-shadow: 2px 6px 16px 0 rgba(0, 0, 0, .75);
    text-transform: uppercase;
    transition: box-shadow 1s, background-color 1s ease;
    z-index: 1;

}

.see {
    margin-left: 450px;
    outline: 0;
    margin-top: 80px;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font: inherit;
    transition: margin .24s ease-in-out, color 1s ease-in-out, opacity .5s ease-in-out;
}

#see {
    transition: margin .24s ease-in-out, color 1s ease-in-out, opacity .5s ease-in-out;
    margin-top: 112px;
}

#see span {
    transition: margin .24s ease-in-out;
    margin-top: 12px;
}

#landing .start:hover {
    transform: scale(1.05) translateX(-47.5%);
}

.start:hover,
#send:hover,
#send:focus,
#optimize:hover,
#optimize:focus,
#linkreq:hover {
    box-shadow: 0px 0px 25px 5px rgba(11, 177, 211, 1);
    background-image: linear-gradient(#0BB1D3, #0BB1D3);
    transition: box-shadow 1s, background-color 1s ease;
    animation-play-state: paused;
}

#uploadLandingImage,
#landingImage {
    top: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    filter: brightness(0.5);
    transition: 1s filter ease;
}

#uploadShade {
    position: fixed;
    top: 100px;
    /*filter: hue-rotate(165deg) saturate(1.4);*/
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    opacity: 0.5;
    background-blend-mode: multiply;
    width: 100%;
    height: calc(100% - 100px);
    z-index: -1;
    filter: brightness(1.3);
    transition: 1s filter ease;
}

#closingImage {
    bottom: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    filter: brightness(.7) saturate(2.5) contrast(1.2);
    transition: 1s filter ease;
    object-fit: contain;
}

.action {
    position: fixed;
    bottom: 0;
    width: calc(100% - 200px);
    padding: 100px 100px 0;
    align-items: center;
    visibility: hidden;
    z-index: -1;
}

.action h2 {
    margin-top: calc(-100px + 12vw);
}

.action h2,
.action p {
    width: max-content;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}

.action button {
    margin: 40px 0;
}

.advantages {
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    width: calc(100% - 80px);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 40px;
}

.advantage {
    max-width: calc(100%/3 - 120px);
    flex: 1 1 100%;
    padding: 60px 40px;
    margin: 13px;
    width: 100%;
}

.advantage img {
    width: 50px;
    height: 50px;
}

.advantages h2 {
    font-size: 44px;
    font-weight: 300;
    color: white;
    flex: 0 1 100%;
    text-align: center;
    margin: 0 0 60px;
}

.advantage h3,
.advantages h2 {
    font-weight: 300;
}

footer {
    min-height: 190px;
    background-color: #f1f3f4;
}

.social {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    display: flex;
    align-items: center;
    padding: 30px 32px;
}

.social p {
    color: #000000;
}

.logo {
    width: 24px;
    height: 24px;
    margin-left: 32px;
}

.twitter {
    background-color: #000000;
    background: url(Twitter.svg) no-repeat center;
}

.facebook {
    background-color: #000000;
    background: url(Facebook.svg) no-repeat center;
}

.instagram {
    background-color: #000000;
    background: url(Instagram.svg) no-repeat center;
}

.reddit {
    background-color: #000000;
    background: url(Reddit.svg) no-repeat center;
}

.twitter:hover,
.facebook:hover,
.instagram:hover,
.reddit:hover {
    opacity: .75;
}

.lower {
    min-height: 42px;
    height: calc(100% - 148px);
    padding: 30px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower p {
    font-family: 'Orbitron';
    font-size: 28px;
    color: #5F6368;
}

#option {
    font-size: 3vw;
}

.dashboard {
    position: relative;
    height: 400px;
    padding-bottom: 100px;
}

.fadeheadline {
    opacity: 0;
    font-family: 'Orbitron';
    color: #5F6368;
    position: absolute;
    left: 20vw;
    top: 8%;
    transition: opacity 2.5s ease, transform 2.5s ease;
    transform: scale(4.0);
}

.scoreHeading {
    position: absolute;
    top: 19%;
    left: 11.2vw;
    font-family: 'Orbitron';
    color: #5F6368;
}

.metricHeading {
    position: absolute;
    top: 19%;
    left: 35.5vw;
    font-family: 'Orbitron';
    color: #5F6368;
}

.objectiveHeading {
    position: absolute;
    top: 19%;
    left: 73.5vw;
    font-family: 'Orbitron';
    color: #5F6368;
}

.gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    width: 250px;
    height: 125px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #5F6368;
    width: 180px;
    height: 90px;
    top: 34.5px;
    margin-left: 34.7px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-c {
    z-index: 2;
    position: absolute;
    background-image: linear-gradient(to left, #0BB1D3, #0B75D3);
    width: 250px;
    height: 125px;
    top: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 2.3s ease-in-out;
}

.gauge-data h1 {
    font-size: 1em;
}

.gauge-data,
.gauge-data h1 {
    color: rgba(255, 255, 255, .5);
    transition: all 1s ease-out;
}

.gauge-data {
    font-size: 1em;
    font-family: 'Orbitron';
    z-index: 4;
    line-height: 37px;
    position: absolute;
    width: 250px;
    height: 125px;
    top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.gauge {
    width: 250px;
    height: 125px;
    position: absolute;
    top: 42.5%;
    left: 20vw;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
}

.improvement {
    position: absolute;
    right: 40vw;
    top: 31%;
}

.metrics {
    position: absolute;
    right: 33vw;
    top: 31%;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.ranking,
.possImpr,
.predTime,
.prob,
.price {
    text-align: right;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.percentage {
    right: 76vw;
    font-size: 4em;
    top: 60%;
}

.percentsign {
    left: 24.5%;
    font-size: 2em;
    top: 65.9%;
}

.percentage,
.percentsign {
    position: absolute;
    font-family: 'Orbitron';
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.objectives {
    position: absolute;
    left: 73.6vw;
    top: 31%;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

li.objectiveOne,
li.objectiveTwo,
li.objectiveThree,
li.objectiveFour,
li.objectiveFive,
.more {
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
    color: #888e95;
    background-image: url('BulletPoint.svg');
    background-repeat: no-repeat;
    padding-left: 32px;
    margin-left: 0;
}

.objectives li:last-child {
    margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
    background-image: none;
}

#optimize {
    opacity: 0;
    position: absolute;
    top: 66%;
    right: 33vw;
    width: max-content;
    font-size: 0.8em;
    outline: 0;
    height: 36px;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    text-transform: uppercase;
    transition: box-shadow 1s, background-color 1s ease, opacity 2s ease-in-out, transform 1s ease;
    cursor: pointer;
    transform: scale(1.5);
}

#linkreq {
    opacity: 0;
    position: absolute;
    top: 80%;
    right: 14vw;
    width: max-content;
    font-size: 0.8em;
    outline: 0;
    height: 36px;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    text-transform: uppercase;
    transition: box-shadow 1s, background-color 1s ease, opacity 2s ease, transform 1s ease;
    cursor: pointer;
    transform: scale(1.5);
}

#email {
    opacity: 0;
    border: none;
    box-shadow: 0px 0px 4px #888e95;
    color: #0B75D3;
    transform: scale(4.0);
    transition: opacity .5s ease, transform .5s ease;
}

#placeholder {
    color: #888e95;
}

#mail {
    position: absolute;
    top: 80%;
    right: 30vw;
    width: 32vw;
}

#send {
    width: max-content;
    align-self: center;
    font-size: 0.8em;
    outline: 0;
    height: 36px;
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background-image: linear-gradient(to right, #0BB1D3, #0B75D3);
    text-transform: uppercase;
    transition: box-shadow 1s, background-color 1s ease;
    cursor: pointer;
}

#explainer {
    width: 37%;
    height: max-content;
    flex: initial;
    margin-top: 60px;
    padding: 30px 20px;
    margin-right: 145px;
    background-color: #eef1f4;
}

#explainer p {
    font-size: 1em;
    width: initial;
    color: #888e95;
    margin-top: 0;
    text-align: left;
}

#explainer h3 {
    margin-top: 0;
    font-weight: 300;
}

#home {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    position: relative;
}

#left {
    margin-right: 10px;
    transition: right .5s ease-in-out, opacity .5s ease-in-out;
    position: absolute;
    right: 110px;
}

p#hook {
    font-size: 20px;
    height: max-content;
    margin-top: 30px;
}

#landing .twitter,
#landing .facebook,
#landing .instagram,
#landing .reddit {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

#landing .twitter:hover,
#landing .facebook:hover,
#landing .instagram:hover,
#landing .reddit:hover {
    transform: scale(1.5);
}

label.error {
    font-size: 12px;
    position: absolute;
    top: 50px;
    color: red;
}

input:focus~.error {
    top: 50px;
    font-size: 12px;
    color: red;
}

/*--- Input Form ---*/

form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 100px;
}

.group {
    width: 50%;
    position: relative;
    margin-right: 40px;
}

input {
    width: calc(100% - 18px);
    background-color: transparent;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #ffffff;
    font: 16px/20px Roboto, sans-serif;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 7px;
    transition: border-color .2s;
}

input:focus {
    outline: none;
    border-bottom: none;
}

/* LABEL ======================================= */
label {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:visited~label,
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: calc(100% - 4px);
}

.bar:before,
.bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: -1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
    background-image: linear-gradient(to right, #0B93D3, #0B75D3);
}

.bar:after {
    right: 50%;
    background-image: linear-gradient(to right, #0BB1D3, #0B93D3);
}

/* active state */
input:visited~.bar:before,
input:visited~.bar:after,
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:visited~.highlight,
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #0BB1D3;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #0BB1D3;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #0BB1D3;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* MEDIA QUERIES ================ */

@media only screen and (min-width: 1340px) {

    #uploadShade {
        box-shadow: 2px 6px 16px 0 rgba(0, 0, 0, .5);
    }
}

@media only screen and (max-width: 1150px) {

    #uploadLandingImage,
    #landingImage {
        width: 1150px;
    }

    h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 1024px) {
    .how {
        flex-wrap: wrap;
        padding: 100px 20vw;
    }

    .card {
        margin: 60px 0;
        width: 215px;
    }

    .advantages {
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        max-width: 50%;
    }

    .technologies {
        flex-direction: column;
        align-items: center;
    }

    .technology {
        width: 30%;
        margin-top: 40px;
    }

    .technology img {
        width: 125px;
        height: 125px;
    }
}

@media only screen and (max-width: 886px) {

    .choices h3,
    .choices p {
        width: 100%;
    }

    .access p {
        width: max-content;
    }
}

@media only screen and (max-width: 770px) {

    #uploadLandingImage {
        width: 1050px;
    }

    h1 {
        font-size: 56px;
    }
}

@media only screen and (max-width: 607px) {

    #uploadLandingImage {
        width: 990px;
    }

    h1 {
        font-size: 44px;
    }

    #landing p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 600px) {

    form,
    .group {
        width: 100%;
    }

    #url input {
        width: calc(100% - 5px);
    }

    .group {
        margin-left: 0;
    }
}

@media only screen and (max-width: 461px) {

    #uploadLandingImage {
        width: 940px;
    }

    h1 {
        font-size: 32px;
    }

    #landing p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 458px) {
    #send {
        width: 100%;
        margin: 0 26px;
    }
}

@media only screen and (max-width: 452px) {
    .access {
        width: 100%;
        justify-content: space-between;
    }
}