body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #0BB1D3, #9E30FF);
}

#logo {
    margin-left: 5vw;
}

header object {
    width: 90px;
    height: 90px;
    pointer-events: none;
}

section {
    display: flex;
    flex-direction: column;
    color: white;
}

#landing {
    margin-top: 120px;
    background-color: transparent;
    background-size: cover;
    align-items: center;
}

h1 {
    font-size: 4em;
    font-family: 'Orbitron';
}

h1,
#landing p {
    text-align: center;
    width: 80%;
}

.start {
    font-family: inherit;
    font-size: 0.8em;
    outline: 0;
    margin-top: 60px;
    height: 60px;
    padding: 0 80px;
    border: none;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to right, #0BB1D3, #9E30FF);
    background-color: #9E30FF;
    box-shadow: 2px 6px 16px 0 rgba(11, 177, 211, .75);
    text-transform: uppercase;
}

.start:hover {
    transition: .1s linear;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 6px 16px 0 rgba(158, 48, 255, .75);
}

#landingImage {
    top: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
    filter: brightness(0.5);
}